body {
    margin-bottom: 100px;
}

.logo-name {
    font-size: 15px;
    color: rgba(255,255,255,.75);
    float: left;
}

.leftside, .rightside {

    height:50vh;
    width: 100%;
}

img {
    margin: auto;
    display: block;
}

.elright {
    margin-top: 50px;
}

.elright2 {
    margin-top: 80px;
}

.elright3 {
    margin-left: 150px;
    margin-top: 120px;
}

.nav-link {
    display: inline-block;
    padding: 5px 10px;
}

.section1 {
    margin-left: 150px;
}

.wrapper {
    margin-left: 450px;
}
  
.box {
    width: 1000px;
    height: 300px;
    border-radius: 8px;
    background-color: white;
}

.descevent {
    margin-left: 30px;
}

/* Form Validation */

.flex-item i {
  font-size: 18px;
  position: absolute;
  top: 42px;
  right: 26px;
  visibility: hidden;
}

.flex-item select ~ i {
  right: 50px;
  top: 230px;
}

.flex-item.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.flex-item.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.flex-item small {
  position: absolute;
  left: 20px;
  visibility: hidden;
}

.flex-item.error small {
  color: #e74c3c;
  visibility: visible;
}

.flex-item.success input,
.flex-item.success select,
.flex-item.success textarea {
  border-color: #2ecc71;
}

.flex-item.error input,
.flex-item.error select,
.flex-item.error textarea {
  border-color: #e74c3c;
}

.card1 {
  position: relative;
  display: flex;
  float: left;
  width: 25%;
  width: 100%;
  min-width: 0;
}

.column1 {
  padding: 0 10px;
}

.grid-item {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}