.logo-name {
    font-size: 15px;
    color: rgba(255,255,255,.75);
}

.leftside, .rightside {

    height:50vh;
    width: 100%;
}

img {
    margin: auto;
    display: block;
}

.elright {
    margin-top: 50px;
}

.elright2 {
    margin-top: 80px;
}

.elright3 {
    margin-left: 150px;
    margin-top: 120px;
}

#nav.bg-dark {
  background-color: #343a40!important;
}

#nav.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 45px;
  padding-left: 45px;
}

.nav-link {
    display: inline-block;
    padding: 5px 10px;
}

.section1 {
    margin-left: 150px;
}

.wrapper {
    margin-left: 450px;
}
  
.box {
    width: 1000px;
    height: 300px;
    border-radius: 8px;
    background-color: white;
}

.descevent {
    margin-left: 30px;
}

/* Footer */

.footer_section {
  background-color: #222831;
  color: #ffffff;
  padding: 75px 0 40px 0;
  text-align: center;
  margin-top: 60px;
}

.container {
  bottom: 0;
}

.footer_section h4 {
  font-size: 28px;
}

.footer_section h4,
.footer_section .footer-logo {
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'Dancing Script', cursive;
}

.footer_section p {
  color: #dbdbdb;
}

.footer_section .footer-col {
  margin-bottom: 30px;
}

.footer_section .footer_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_section .footer_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.footer_section .footer_contact .contact_link_box a i {
  margin-right: 5px;
}

.footer_section .footer_contact .contact_link_box a:hover {
  color: #ffbe33;
}

.footer_section .footer-logo {
  display: block;
  font-weight: bold;
  font-size: 38px;
  line-height: 1;
  color: #ffffff;
}

.footer_section .footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer_section .footer_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222831;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ffffff;
  border-radius: 100%;
  margin: 0 2.5px;
  font-size: 18px;
}

.footer_section .footer_social a:hover {
  color: #ffbe33;
}

.footer_section .footer-info {
  text-align: center;
  margin-top: 25px;
}

.footer_section .footer-info p {
  color: #ffffff;
  margin: 0;
}

.footer_section .footer-info p a {
  color: inherit;
}

/* All Main Pages */

article {
  padding: 0 10% 2%;
}

.title {
  font-size: 30px;
  padding: 20px;
  font-weight: 500;
}

/* Index Page */

#clubs .align-right {
  text-align: right;
  border: 0;
  margin-right: 50px;
}

/* Login */

#login-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../images/login_background.jpg") no-repeat center center / cover
    fixed;
}

.entry-form h1 {
  font-size: 22px;
  margin-bottom: 30px;
}

.entry-form form {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10% auto 0;
  background-color: rgba(255, 255, 255, 0.9);
  width: 30%;
  height: 500px;
}

.entry-form input {
  border: 1px solid gray;
  border-radius: 3px;
  width: 80%;
  padding: 10px 10px;
}

.entry-form ul div {
  text-align: left;
  margin-left: 7%;
  color: red;
}

.entry-form ul li {
  margin-bottom: 40px;
  list-style-type: none;
}

.entry-logo {
  width: 30%;
  margin: 20px 0;
  display: inline-block;
}

.entry-form input[type="submit"] {
  background-color: blue;
  color: white;
  border-radius: 20px;
  width: 50%;
  margin: 5px 0px 25px;
}

.entry-form input[type="submit"]:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: darkblue;
}

.entry-form a:hover {
  text-decoration: underline;
  color: black;
}

#login-page {
  font-family: Arial, Helvetica, sans-serif;
}

.text-center {
  text-align: center;
}

/* Events */

#events figcaption {
  text-align: center;
}

/* Contact Us */

#contact-us .contact_usform {
  min-height: 100vh;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins" , sans-serif;
  box-sizing: border-box;
}

#contact-us .container1 {
  background: rgb(255, 255, 255);
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(255, 0, 0, 0.2);
}

#contact-us .container1 .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-us .container1 .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

#contact-us .content .left-side::before {
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

#contact-us .content .left-side .details {
  margin: 14px;
  text-align: center;
}

#contact-us .content .left-side .details i {
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}

#contact-us .content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}

#contact-us .content .left-side .details .text-one,
#contact-us .content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}

#contact-us .container1 .content .right-side {
  width: 75%;
  margin-left: 75px;
}

#contact-us .content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}

#contact-us .right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

#contact-us .right-side .input-box input,
#contact-us .right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

#contact-us .right-side .message-box {
  min-height: 110px;
}

#contact-us .right-side .input-box textarea {
  padding-top: 6px;
}

#contact-us .right-side .button {
  display: inline-block;
  margin-top: 12px;
}

#contact-us .right-side .button input[type="submit"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}

#contact-us .button input[type="button"]:hover {
  background: #5029bc;
}

@media (max-width: 950px) {
  #contact-us .container1{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }

  #contact-us .container1 .content .right-side{
   width: 75%;
   margin-left: 55px;
  }
}

@media (max-width: 820px) {
  #contact-us .container1{
    margin: 40px 0;
    height: 100%;
  }

  #contact-us .container1 .content {
    flex-direction: column-reverse;
  }

  #contact-us .container1 .content .left-side {
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }

 #contact-us .container1 .content .left-side::before {
   display: none;
 }

 #contact-us .container1 .content .right-side {
   width: 100%;
   margin-left: 0;
 }
}

/* Form Validation */

.flex-item {
  position: relative;
}

.flex-item i {
  font-size: 18px;
  position: absolute;
  top: 45px;
  right: 15px;
  visibility: hidden;
}

.flex-item select ~ i {
  right: 40px;
  top: 45px;
}

#contact-us .flex-item i {
  top: 18px;
  right: 20px;
}

.flex-item.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.flex-item.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.flex-item small {
  position: absolute;
  left: 20px;
  visibility: hidden;
}

.flex-item.error small {
  color: #e74c3c;
  visibility: visible;
}

.flex-item.success input,
.flex-item.success select,
.flex-item.success textarea {
  border-color: #2ecc71;
}

.flex-item.error input,
.flex-item.error select,
.flex-item.error textarea {
  border-color: #e74c3c;
}


/* DOCTORS PAGE */

#event-content-wrapper .grid-container {
  /* margin: 10px; */

  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px 10px;
  justify-content: space-between;
}

#event-content-wrapper .grid-item {
  height: 244px;
  width: 403px;
  text-align: left;
  position: relative;
}

#event-content-wrapper .grid-item img {
  width: 100%;
  border-radius: 20px;
}

#event-content-wrapper .grid-item .caption {
  width:100%;
  height: auto;
  background: rgba(0, 0, 0, 0.8);
  position:absolute;
  bottom: 0;
  padding: 5px 10px;
  border-radius: 0 0 20px 20px;
}

#event-content-wrapper .grid-item .caption h2 {
  font-size: 20px;
  color: white ;
  margin: 2px 0px 2px 0px;
}
#event-content-wrapper .grid-item .caption p {
  font-size: 17px;
  color: #7d7d7d;
  font-weight: 700;
  margin: 2px 0px 2px 0px;
}

@media (max-width: 1400px) {
  #event-content-wrapper .grid-container {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 1040px) {
  #event-content-wrapper .grid-container {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 690px) {
  #event-content-wrapper .grid-container {
    grid-template-columns: auto;
    justify-content: center;
  }
}

#event-content-wrapper .grid-container a:visited,
#event-content-wrapper .grid-container a:link {
  color: black;
  text-decoration: none;
}

/* POP UP */

/* Modal Box */

.event-modal {
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

.event-modal.active {
  transform: translate(-50%, -50%) scale(1);
  
}
.event-content-container {
 background-color:#eae5e5 ;
}
.event-content-container.active {
  /* Enable scroll if needed */
  overflow: auto;
}

/* Modal Content */
.event-modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  margin: 5.5% auto 1.5%;
  padding-top: 10px;
  width: 45%;
  min-width: 640px;  
}

.modal-title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px 0;
}

.event-modal-content h1 {
  padding-left: 3%;
  width: fit-content; 
  font-size: 25px;
  font-weight: bold;
}

.event-modal-content #event-details h1 {
  font-size: 28px;
}

.event-modal-content #event-details p {
  padding: 0 3%;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
}

.event-modal-content #event-details span {
  font-weight: bold;

}

.event-modal-content #event-details .icon {
  width: 20px;
  height: 20px;
  display: inline;
  margin: 0 5px;
}

#specific-event #view-form {
  height: 435px;
}

#event-content img {
  width: 100%;
  height: 380px;
  margin-bottom: 20px;
}


#profile .flex-item i {
  top: 33px;
}

.flex-item.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.flex-item.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

#contact-us .flex-item input {
  padding: 10px 10px;
  background-color: #F0F1F8;
}

#contact-us .flex-item textarea {
  background-color: #F0F1F8;
}

.flex-item small {
  position: absolute;
  left: 0;
  visibility: hidden;
}

.flex-item.error small {
  color: #e74c3c;
  visibility: visible;
}

.flex-item.email-exist-validation small, 
.flex-item.tp-exist-validation small {
  color: #e74c3c;
  visibility: visible;
}

/* The Close Button */
.close-button {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  padding: 0 5px 5px;
  margin: 0 10px 10px 0;
  border-radius: 5px;
  background: none;
  justify-content: center;
  line-height: 15px;
}

.close-button:hover,
.close-button:focus {
  color: white;
  background-color: red;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Overlay */

#overlay {
  position: fixed;
  z-index: 2;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}



#clubs .card1 {
  position: relative;
  display: flex;
  float: left;
  width: 25%;
  width: 100%;
  min-width: 0;
}

#clubs .column1 {
  padding: 0 10px;
}

#clubs .grid-item {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

/* About Us Page */

#about-us {
  padding: 0% 10% 2%;
}

#our-university,
#our-clubs,
#values {
  display: inline-flex;
  padding-bottom: 50px;
}

#our-clubs .image {
  order: 2;
}

.image img {
  height: 400px;
  width: 600px;
  object-fit: cover;
}

.content {
  padding: 0% 2.5%;
  text-align: justify;
}

.content h2 {
  font-size: 25px;
  margin: 20px 0px;
  color: #22386d;
}

.content h3 {
  padding: 10px 0px;
  color: #ff5956;
}

@media (max-width: 1100px) {
  #our-university,
  #our-clubs,
  #values {
    display: block;
  }
}

@media (max-width: 750px) {
  .image img {
    width: 100%;
  }
}


/* specific club css starts here */


.flex-container{
  display: flex;
  position: relative;
}

.flex-container .clogo{
  position: absolute;
  margin: 10px;
}

.flex-container .ctitle{
  position: absolute;
  margin-left: 250px;
  margin-top: 90px;

}

.flex-container .cbutton{
  position: absolute;
  top: 90px;
  right: 260px;
}

.section1{
  margin-top: 200px;
  margin-left: 250px;
}

.section1 .addevent{
  position: absolute;
  top: 290px;
  right: 260px;
}


.section2 .image1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.section2 .mbutton{
  position: absolute;
  top: 800px;
  right: 260px;
}

.section3{
  margin-top: 200px;
  margin-left: 250px;
}

.section3 .addactivity{
  position: absolute;
  top: 850px;
  right: 260px;
}

.wrapper {
  margin-left: 450px;
}

.box {
  width: 1000px;
  height: 300px;
  border-radius: 8px;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 74%;
}

.descevent {
  margin-left: 30px;
}

.btn1{
  background-color: #0004ff;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn1:hover,
.btn1:focus {
  background-color: #0004ff;
}

/* Club Registration Request css starts here */

.reqtitle{
  margin-left: 50px;
}

.clubreq{
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
}

.clubfeed{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
}


.responsive-table1 li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.responsive-table1 .table-header {
  background-color: #95A5A6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.responsive-table1 .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.responsive-table1 .col-1 {
  flex-basis: 60%;
}

.responsive-table1 .col-2 {
  flex-basis: 30%;
  margin-left: 50px;
}

.responsive-table1 .col-3 {
  flex-basis: 90%;
}

.responsive-table1 .col-4 {
  flex-basis: 90%;
}

.responsive-table1 .col-5 {
  flex-basis: 90%;
}

.responsive-table1 .col-6 {
  flex-basis: 90%;
}

.responsive-table2 li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  margin-bottom: 25px;
}
.responsive-table2 .table-header {
  background-color: #95A5A6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.responsive-table2 .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.responsive-table2 .col-2 {
  flex-basis: 100px;
}

.responsive-table2 .col-3 {
  flex-basis: 900px;
  margin-left: 200px;
}

@media all and (max-width: 1000px) {
  .table-header {
    display: none;
  }
  li {
    display: block;
  }
  .col {
    
    flex-basis: 1000px;
    
  }
  .col {
    display: flex;
    padding: 10px 0;
  }
}

/* Club Feedbacks */

.table-users {
 border: 1px solid darken(10px, 5%);
 border-radius: 10px;
 max-width: calc(100% - 2em);
 margin: 1em auto;
 overflow: hidden;
 width: 800px;
}

table {
 width: 100%;
}
 
table td, th { 
  color: #000000;
  padding: 10px; 
}
 
table td {
  text-align: center;
  vertical-align: middle;
}
 
table th { 
  background-color: #95A5A6;
  font-weight: 300;
}
 
table tr {     
  background-color: white; 
  background-color: #d8d8d8;
}

/* Club Details */

.header {
  background-color: #596364;
  color: white;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
}

/* Side Navigation */
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}